body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

.row {
  margin: 0;
}

#container {
    border: 1px solid black;
    margin: 0 auto;
    overflow: hidden;
  }
  
#map {
    width: 90%;
    height: 100%;
  }

#menu {
    position: absolute;
    background: #fff;
    padding: 0px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    }

#sidebar {
  background-color: rgb(194, 194, 194);
  min-width: 250px;
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
}

#sidebar img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 10px;
}

#sidebar a {
  color: #5B6F3F;
}

#sidebar label {
  margin: 10px 5px;
}

.btn-link {
  color: #5B6F3F;
}
.btn-link:hover {
  color: #43522f;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(91,111,63,.25);
}


/* Map popup styles */
.mapboxgl-popup-content {
  border: 1px solid gray;
  padding: 0px;
  min-width: 150px;
}

.mapboxgl-popup h5 {
  background-color: #5b6f3f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 10px;
  margin: 0 0 5px 0;
}

.mapboxgl-popup p {
  padding: 0px 15px 2px 10px;
  margin: 0px;
  font-style: italic;
  line-height: 1.5em;
}

.mapboxgl-popup a {
  color: #5B6F3F;
  text-decoration: none;
  font-style: normal;
}

.mapboxgl-popup a:hover {
  color: #43522f;
}
/* End Map popup styles */
