body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    border: 1px solid black;
  }

  .mapboxgl-map {
    position: absolute;
  }

#container {
    width: 90%;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;

  }